<div class="card" style="margin-bottom: 50px;">
    <div class="card-title">
     <p> Destination Haripad to Alappuzha </p>
     <p> Date 12/2/2020 -12/3/200</p>
     <p> Time 10:00 - 20:00 </p>

    </div>
</div>
<div class="card" style="margin-bottom: 50px;">
    <div class="card-title">
     <p> Destination Haripad to Alappuzha </p>
     <p> Date 12/2/2020 -12/3/200</p>
     <p> Time 10:00 - 20:00 </p>

    </div>
</div>
<div class="card" style="margin-bottom: 50px;">
    <div class="card-title">
     <p> Destination Haripad to Alappuzha </p>
     <p> Date 12/2/2020 -12/3/200</p>
     <p> Time 10:00 - 20:00 </p>

    </div>
</div>
<div class="card" style="margin-bottom: 50px;">
    <div class="card-title">
     <p> Destination Haripad to Alappuzha </p>
     <p> Date 12/2/2020 -12/3/200</p>
     <p> Time 10:00 - 20:00 </p>

    </div>
</div> 
<div class="card" style="margin-bottom: 50px;">
    <div class="card-title">
     <p> Destination Haripad to Alappuzha </p>
     <p> Date 12/2/2020 -12/3/200</p>
     <p> Time 10:00 - 20:00 </p>

    </div>
</div>
<div class="card" style="margin-bottom: 95px;">
    <div class="card-title">
     <p> Destination Haripad to Alappuzha </p>
     <p> Date 12/2/2020 -12/3/200</p>
     <p> Time 10:00 - 20:00 </p>

    </div>
</div>
