<app-header>
</app-header>
<div class="page-wrapper">
    <div class="container">
        <div class="row">
            
            <!-- <div class="col-sm-6">
            <i (click)="close()" class="fa fa-close"></i>
            </div> -->
            <div class="col-sm-6">
                <img src="./assets/images/imgs.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label for=""> User Name</label>
                <input type="text" class="form-control">
            </div>
            &nbsp;
            <div class="col-sm-6">
                <label for=""> Contact Number</label>
                <input type="text" class="form-control">
            </div>
            &nbsp;
            <div class="col-sm-6">
                <label for=""> Address</label>
                <textarea rows="3" class="form-control"></textarea>
            </div>
            &nbsp;
            <div class="col-sm-6">
                <label for=""> Pincode</label>
                <input type="text" class="form-control">
            </div>
            &nbsp;

        </div>
        <div class="row" style="margin-bottom: 96px;">
            <button class="btn btn-primary" style=" width: 50%; margin-right: auto; margin-left: auto; display: block;">Save</button>
        </div>
    </div>
</div>
<app-navigation></app-navigation>

