<app-header></app-header>

<div class="page-wrapper" style="margin-bottom: 80px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h6 style="text-align: center;    margin-top: 16px;">Add a point</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label for="">Name</label>
                <input type="text" class="form-control">
            </div>
            &nbsp;

            <div class="col-sm-6">
                <label for="">Contact Number</label>
                <input type="text" class="form-control">
            </div>
            &nbsp;

            <div class="col-sm-6">
                <label for="">Stating point</label>
                <input type="text" class="form-control">
            </div>
            &nbsp;
            <div class="col-sm-6">
                <label for="">Final Destination</label>
                <input type="text" class="form-control">
            </div>
            &nbsp;

            <div class="col-sm-6">
                <label for=""> Start Date</label>
                <input type="date" class="form-control">
            </div>
            &nbsp;

            <div class="col-sm-6">
                <label for=""> Start time</label>
                <input type="time" class="form-control">
            </div>
            &nbsp;

            <div class="col-sm-6">
                <label for="">End Date</label>
                <input type="date" class="form-control">
            </div>
            &nbsp;

            <div class="col-sm-6">
                <label for="">End time</label>
                <input type="time" class="form-control">
            </div>
            <div class="col-sm-6">
                <label for="">Reason</label>
                <input type="text" class="form-control">
            </div>


        </div>

        <div class="row" style="margin-top: 20px; ">
            <div class="col-sm-6" style="    margin-left: 40px;margin-bottom: 39px;">
                <button class="btn btn-primary" style="width: 40%;" (click)="cancel()"> <i class="fa fa-add">  </i> Cancel </button>

                &nbsp;&nbsp;
                <button class="btn btn-primary" style="width: 40%;" > <i class="fa fa-add">  </i> Add </button>

            </div>
        </div>
    </div>
</div>
<app-navigation></app-navigation>
